body {
  background-image: url(cat\ in\ picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  cursor: url("litenpote.png"), auto;
}

#container {
  text-align: center;
  padding: 20px;
  border: 1px, solid black;
  border-radius: 10px;
}

#cat-image {
  max-width: 300px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000040;
}
